/*mobile*/
@media screen and (max-width:991px) {
    .alert-info {
        background-color: rgb(214, 254, 254);
        border: 2px solid darkgray;
        padding: 10px;
    }
    body {
        text-align: center;
        width: 339px;
        margin-left: auto;
        margin-right: auto;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        background-color: darkgray;
        padding: 10px;
        margin-bottom: 10px;
    }
    .header-img>img {
        width: 339px;
        height: 224px;
    }
    section.main {
        text-align: left;
    }
    section.sub-section {
        text-align: left;
        font-style: italic;
    }
    footer {
        text-align: left;
        font-size: small;
    }
}
/*desktop*/
@media screen and (min-width:992px) {
    .hidden-on-desktop {
        display:none;
    }
.nav-links{
    list-style: none;
    top: 20px;
    right: 0px;
    position: absolute;

}
li{
    float:right;
    padding: 5px;
}
    ul {
        transform: rotate(180deg);
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
    ul > li {
        transform: rotate(-180deg);
    }
    .header-img>img {
        width: 100%;
    }
    section.main{
        float: left;
        width: 75%;
    }
    section.sub-section{
        float: left;
        width: 25%;
        font-style: italic;
    }
}